html
{
    box-sizing: border-box;
}
*, *::before, *::after
{
    box-sizing: inherit;
}
body
{
    display: block;
    font-family: 'Mimolette-Regular';
    font-size: 16px;
    line-height: 150%;
    font-weight: normal;
    color: #373737;
}
ul
{
    margin: 0;
    padding: 0;
}

.container
{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Adding fonts */
@font-face 
{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    src: url(../fonts/DelaGothicOne-Regular.ttf) format(ttf);
}
@font-face
{
    font-family: 'Mimolette-Regular';
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 37.5px */
    letter-spacing: 0.625px;
    src: url(../fonts/Mimolette-Regular.otf) format(otf);
}
@font-face 
{
    font-family: 'Khorla';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    src: url(../fonts/Khorla.ttf) format(ttf);
}

/* Header style start */
.header
{
   background-color: #F1E8DB;
   padding: 10px 0; 

}
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu
{
    display: flex;
    gap: 55px;
}
.menu-item
{
    list-style-type: none;
    font-family: 'Khorla';
    font-size: 16px;
}
.menu-link
{
   text-decoration: none;
   color: #373737; 
}
.menu-link:hover, .menu-link:active
{
    color: #F54D33;
}
/* Header style end */


/* HOMEPAGE START */
/* Block 1 style start */
.home-block1
{
    background-color: #F1E8DB;
    max-height: 500px;
}
.home-block1-content
{
    display: flex;
    justify-content: space-between;
}
.home-block1-headline
{
    padding-top: 250px;
    margin: 0; 
}
.home-block1-title
{
    font-family: 'Dela Gothic One';
    color: #326130;
    font-size: 36px;
    width: 437px;
    line-height: 150%; /* 54px */
}
.home-block1-subtitle
{
    font-size: 24px;
}
.home-block1-pic
{
padding-top: 16px;
}
/* Block 1 style end */

/* Block 2 style start */
.home-block2
{
    padding: 110px 0;
    background-color: #fff;
}
.home-block2-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-block2-pic
{
    margin: 0;
   
}
.home-block2-article
{
    width: 360px;

}
.home-block2-title
{
    margin: 0;
    padding: 0;
    color: #F54D33;
    font-family: Dela Gothic One;
    font-size: 24px;
    line-height: 150%;
    font-style: normal;
}
.home-block2-text
{
    padding-top: 30px;   
    font-family: Mimolette-Regular;
    font-size: 16px;

}
/* Block 2 style end */

/* Block 3 style start */
.home-block3 
{
    background-color: #FDDD98;
    height: 600px;
    margin-bottom: 40px;
}

.home-block3-title
{
    margin: 0px;
    padding-top: 54px;
    color: #F54D33;
    font-family: Dela Gothic One;
    font-size: 24px;
    font-style: normal;
    text-align: center;
}
.home-block3-nav
{
    display: flex;
    justify-content: space-between;
    padding-top: 79px;
}
.home-block3-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px; 
}
.home-block3-btn
{
    margin-top: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: #373737;
    font-family: 'Khorla';
    width: 170px;
    height: 62px;
    border-radius: 10px;
    background: #FCB8AC;
    box-shadow: 3px 3px 0px 1px #F54D33; 
}
.home-block3-btn:hover
{
    background-color: #FDB002;
    color: #F54D33;
}
/* Block 3 style end */
/* HOMEPAGE END*/


/* KIDS PAGE START */
/* Block 1 style start */
.kids-block1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kids-block1-article
{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kids-block1-title
{
    color: #F54D33;
    text-align: center;
    font-family: Dela Gothic One;
    font-size: 20px;
    line-height: 150%; /* 30px */
}
.kids-block1-text
{
    max-width: 365px;
}
/* Block 1 style end */

/* Block 2 style start */
.kids-block2
{
height: 200px;
background-color: #FDDD98;
}

/* Block 2 style end */

/* KIDS PAGE END */

/* Footer style start */
.footer
{
    padding: 42px 0;
    background-color: #F1E8DB;
}
.contact-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #373737;
    font-family: 'Khorla';
    width: 169px;
    height: 61px;
    padding: 25px 40px;
    border-radius: 10px;
    background: #FDDD98;
    box-shadow: 3px 3px 0px 1px #F54D33;
}
.contact-btn:hover
{
    background-color: #FDB002;
    color: #F54D33;
}
.footer-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer style end */